[core]
	editor = vim
[user]
	email = jan.kaisrlik@avast.com
	name = Jan Kaisrlik
[commit]
	verbose = true
[color]
	ui = auto
[tig]
	line-graphics = no      # Disable graphics characters
	tab-size = 4            # Number of spaces per tab
[alias]
	commit = commit -s
