[submodule "i3.configs"]
	path = i3.configs
	url = https://github.com/Kaisrlik/i3.git
	branch = master
[submodule "vim.configs"]
	path = vim.configs
	url = https://github.com/Kaisrlik/.vim.git
	branch = master
[submodule "gdb.configs/gdb-dashboard"]
	path = gdb.configs/gdb-dashboard
	url = git@github.com:cyrus-and/gdb-dashboard.git
[submodule "nvim.config"]
	path = nvim.config
	url = git@github.com:Kaisrlik/nvim.config.git
