[Unit]
Description=Mailbox synchronization service

[Service]
Type=oneshot
ExecStart=/usr/bin/mbsync -Va
ExecStartPost=/usr/bin/notmuch new
ExecStartPost=/home/xeri/devel/configs/mutt.configs/notmuch-hook.sh
